.AsDuasTorres h1{

    color: gold;
    font-style: italic;
  }
  
  .AsDuasTorres h2 {
    color: white;
    font-style: italic;
    font-size: larger;
  }
  
  .AsDuasTorres {
    background-image: url("../../img/asDuasTorres.jpg");
    background-repeat: no-repeat;
      background-position: 100%;
      background-size: 100%;
      height: 100%;
      width: 100%;  
    }